.app_black_theme {
    --bg-color: #252526;
    --inverted-bg-color: #6b6a70;
    --primary-color: #dcdcdc;
    --secondary-color: #292829;
    --inverted-primary-color: #b6b6b7;
    --inverted-secondary-color: rgb(0 0 0);
}
